body {
    background-color: lightseagreen;
    float:left;
    
}

 div.heading {
    position: fixed;
    top: 0px;
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.7;
    background-color: lightgrey;
}